

<form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm"
  class="flex flex-col max-w-lg gap-y-4">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" ngModel required class="bg-gray-600 ring-1 ring-gray-500 rounded-lg p-2">

  <label for="description">Description:</label>
  <input type="text" id="description" name="description" ngModel class="bg-gray-600 ring-1 ring-gray-500 rounded-lg p-2">

  <label for="dueDate">Due Date:</label>
  <input type="text" id="dueDate" name="dueDate" ngModel class="bg-gray-600 ring-1 ring-gray-500 rounded-lg p-2">

  <div class="flex flex-col">
    <label for="status">Status:</label>
    <select id="status" name="status" [(ngModel)]="status" class="bg-gray-600 ring-1 ring-gray-500 rounded-lg p-2">
      <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
    </select>
  </div>

  <div class="flex flex-col">
    <label for="priority">Priority:</label>
    <select id="priority" name="priority" [(ngModel)]="priority" class="bg-gray-600 ring-1 ring-gray-500 rounded-lg p-2">
      <option *ngFor="let priority of priorities" [value]="priority">{{ priority }}</option>
    </select>
  </div>

  <button type="submit" class="bg-blue-500 p-2 rounded-lg mt-4 hover:bg-blue-600 cursor-pointer"
          [disabled]="!taskForm.form.valid">Submit</button>
</form>
